/*============= Google Fonts =============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&family=Roboto:wght@700;900&display=swap");

html {
  overflow-x: hidden;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

/*============= Nav =============*/

.nav-bg {
  min-height: 8vh;
  background-image: linear-gradient(360deg, rgb(17, 16, 16), rgb(233, 71, 12));
}

.nav-bg i {
  color: #fff;
  font-size: 28px;
  outline: none;
}

.logo {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
  transition: all 0.5s ease-in;
}

.logo i {
  font-size: 20px;
}

.logo:hover {
  color: rgb(192, 142, 124);
}

.logo span {
  font-size: 14px;
  margin-left: 20px;
  color: rgb(230, 218, 218);
}

ul {
  margin-left: auto !important;
}

.nav-link {
  margin-left: 40px;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  transition: all 0.4s ease-in;
}

.nav-link:hover {
  color: #1a1a1a;
}

/*============= Home =============*/

.home {
  min-height: 800px;
  background-image: url(../images/home.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-info {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.home-info h1 {
  margin-top: 50px;
  width: 50%;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 1px;
}

.home-info h1 span {
  color: rgb(255, 81, 0);
  text-transform: uppercase;
}

.btn-book {
  color: #fff;
  background-color: rgb(238, 70, 9);
  padding: 10px 20px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-left: 20%;
  margin-top: 20px;
  transition: all 0.5s ease-out;
}

.btn-book:hover {
  background-color: #fff;
  color: rgb(238, 70, 9);
}

.home-info aside {
  color: rgb(196, 187, 187);
  margin-left: 100%;
  transform: translate(-100%);
  width: 30%;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 15px;
}

/*============= About =============*/

.about {
  min-height: 800px;
  padding-top: 20px;
}

.about h3 {
  font-size: 33px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
}

.about p {
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 20px;
}

.rules {
  background-image: linear-gradient(90deg, black, rgb(41, 36, 36));
  opacity: 0.8;
  border-radius: 10px;
  height: 450px;
  margin-top: 50px;
}

.rules h4 {
  font-size: 33px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #fff;
  margin-left: 50px;
  padding-top: 15px;
}

.rules ul {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-rules {
  color: #fff;
  list-style: none;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 24px;
}

.who-can-play {
  margin-top: 50px;
  margin-bottom: 10px;
  height: 450px;
  background-color: rgba(224, 224, 6, 0.877);
  border-radius: 10px;
}

.who-can-play h4 {
  text-align: center;
  font-size: 33px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding-top: 15px;
}

.who-can-play-list {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 25px;
}

.who-can-play-list p {
  font-size: 22px;
  letter-spacing: 1px;
  text-align: left;

}

/*============= Rooms =============*/

.rooms {
  min-height: 800px;
  padding-top: 20px;
  background-color: black;
}

.rooms h3 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 33px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
}

.card-rooms {
  height: auto;
  position: relative;
}

.card-rooms h4 {
  text-align: center;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  color: rgb(177, 169, 169);
  margin: 20px 0 10px 0;
}

.card-rooms img {
  width: 400px;
  height: auto;
  border-radius: 12px;
  margin-left: 50%;
  transform: translate(-50%);
  margin-bottom: 20px;
}

/*.btn-learnmore {
  background-color: rgb(241, 72, 10);
  border-radius: 10px;
  padding: 10px 40px;
  margin-left: 50%;
  transform: translate(-50%);
  margin-bottom: 5px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  transition: all 0.6s ease-in-out;
  border: 1px solid rgb(241, 72, 10);
}

.btn-learnmore:hover {
  background-color: #fff;
  color: rgb(241, 72, 10);
}*/

.accordion-panel {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
  border-radius: 15px;
  width: 400px;
  margin-left: 50%;
  margin-bottom: 20px;
  transform: translate(-50%);
  background-color: transparent;
  opacity: 1;
  transition: all .5s ease-out;
  cursor: pointer;
  padding: 10px;
}

.accordion-panel:hover {
  background-color: rgba(87, 80, 80, 0.555);
}

.accordion-panel p {
  width: 100%;
  text-align: center;
  font-weight: 300;
  font-size: 15px;
  line-height: 1;
  margin: 0;
  color: transparent;
  transition: all .5s ease-out;
}

.accordion-panel p:hover {
  color: #fff;
}

/*============= Location =============*/

.location {
  min-height: 800px;
  padding-top: 20px;
}

.location h3 {
  font-size: 33px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
}

.addresses {
  height: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
}

.addresses p {
  cursor: pointer;
  font-weight: 700;
  font-size: 17px;
  transition: all 0.5s ease-out;
}

.addresses p:hover {
  color: rgb(241, 72, 10);
  text-decoration: underline;
}

#map {
  height: 400px;
  width: 100%;
  border-radius: 10px;
}

/*============= Reviews =============*/

.reviews {
  padding-top: 20px;
  background-image: url(../images/reviews-bg.jpg);
  min-height: 800px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.reviews h3 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 33px;
  color: #fff;
}

.review-group {
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.reviews-card {
  width: 400px;
  background-color: rgba(46, 44, 44, 0.384);
  margin: 50px 0 50px 50%;
  transform: translate(-50%);
  border-radius: 12px;
}

.reviews-card h4 {
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  padding: 10px;
}

.reviews-card p {
  font-size: 16px;
  text-align: center;
  color: rgb(184, 176, 176);
}

/*============= Prices =============*/

.prices {
  min-height: 400px;
  padding: 20px;
  background-color: #1a1a1a;
}

.prices-header {
  text-align: center;
  cursor: pointer;
}

.prices-header h3 {
  font-size: 33px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
}

.prices-header span {
  font-size: 20px;
  font-weight: 400;
  color: rgba(240, 71, 10, 0.877);
}

.price-list {
  min-height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.price {
  width: 300px;
  height: 200px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all .5s ease-out;
}

.price:hover {
  border: 1px solid #fff;
  box-shadow: 6px 2px 6px #fff;
}

.price h4 {
  color: #fff;
  margin-bottom: 30px;
  font-size: 26px;
} 

.price span {
  color: rgba(240, 71, 10, 0.877);
  font-size: 20px;
  letter-spacing: 1px;
}

/*============= Contact =============*/

.contact {
  min-height: 700px;
  background-color: rgba(46, 44, 44, 0.384);
  padding-top: 20px;
}

.contact h3 {
  text-align: center;
  font-size: 33px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: rgb(2, 2, 2);
  letter-spacing: 1px;
}

.form-control {
  /*background-color: rgb(218, 206, 206);*/
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 20px;
}

input {
  width: 80%;
  height: 50px;
  margin: 20px;
  margin-left: 50%;
  transform: translate(-50%);
  outline: none;
  border-radius: 10px;
  outline: none;
}

.form-control textarea {
  margin-left: 50%;
  transform: translate(-50%);
  width: 80%;
  border-radius: 12px;
  outline: none;
}

.btn-submit {
  margin-left: 50%;
  transform: translate(-50%);
  outline: none;
  color: #fff;
  text-transform: uppercase;
  background-color: rgb(233, 92, 10);
  padding: 10px 20px;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  transition: all 0.6s ease-out;
}

.btn-submit:hover {
  background-color: #fff;
  color: rgb(233, 92, 10);
  border: 1px solid rgb(233, 92, 10);
}

/*============= Footer =============*/

.footer {
  min-height: 8vh;
  padding: 10px;
  background-image: linear-gradient(180deg, rgb(17, 16, 16), rgb(233, 71, 12));
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-links {
  display: flex;
  justify-content: space-around;
}

.social-links i {
  font-size: 25px;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.social-links i:hover {
  color: rgb(235, 63, 11);
}

.copyright h5 {
  text-align: right;
  color: #fff;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 300;
}

.copyright h5 span {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  cursor: pointer;
}

/*============= Media Queries =============*/

@media screen and (max-width: 667px) {
  /* Home */
  .home-info h1 {
    width: 100%;
    font-size: 33px;
    text-align: center;
  }

  .btn-book {
    margin-left: 50%;
    transform: translate(-50%);
  }

  .home-info aside {
    width: 100%;
    font-size: 16px;
    text-align: center;
    margin-left: 50%;
    transform: translate(-50%);
  }

  /* About */
  .about h3 {
    font-size: 25px;
  }

  .about p {
    font-size: 18px;
  }

  .rules {
    width: 100%;
    text-align: center;
  }

  .rules h4 {
    margin: 0;
  }

  .rules ul li {
    text-align: left;
    margin: 0;
  }

  /* Rooms */
  .rooms {
    width: 100%;
  }

  .rooms h3 {
    font-size: 28px;
  }

  .card-rooms h4 {
    font-size: 20px;
  }

  .card-rooms img {
    width: 100%;
    height: auto;
  }

  .btn-learnmore {
    padding: 5px 35px;
  }

  .accordion-panel {
    width: 100%;
  }

  /* Locaton */
  .addresses {
    margin-bottom: 0;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 10px;
    height: auto;
    text-align: left;
  }

  /* Reviews */
  .reviews {
    height: auto;
  }

  .reviews h3 {
    font-size: 28px;
  }

  .reviews-card {
    width: 100%;
    height: auto;
  }

  /* Prices */
  .price-list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .price {
    margin-top: 10px;
  }

  /* Contact */
  .form-control {
    width: 100%;
    height: auto;
  }

  /* Footer */
  .copyright h5 {
    text-align: center;
  }
}

@media screen and (min-width: 668px) and (max-width: 812px) {
  /* Home */
  .home-info h1 {
    width: 100%;
    text-align: center;
  }

  .btn-book {
    margin-left: 50%;
    transform: translate(-50%);
  }

  .home-info aside {
    width: 100%;
    text-align: center;
  }

  /* About */
  .rules {
    text-align: center;
  }

  /* Rooms */
  .card-rooms img {
    width: 75%;
    height: auto;
  }

  .accordion-panel {
      width: 75%;
  }

  /* Location */
  .addresses {
    margin-bottom: 0;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 10px;
    height: auto;
    text-align: left;
  }

  /* Prices */
  .price-list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .price {
    margin-top: 10px;
  }

  /* Contact */
  .form-control {
    width: 100%;
    height: auto;
  }

  /* Footer */
  .copyright h5 {
    text-align: center;
  }
}

@media screen and (max-width: 992px) {
  /* Location */
  .addresses {
    margin-bottom: 0;
    margin-left: 50%;
    transform: translate(-50%);
    margin-top: 10px;
    height: auto;
    text-align: left;
  }

  /* Prices */
  .price-list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .price {
    margin-top: 10px;
  }

  /* Footer */
  .copyright h5 {
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  /* Nav */
  .nav-link {
    margin-left: 20px;
  }

  /* Home */
  .home-info h1 {
    width: 100%;
    text-align: center;
  }

  .btn-book {
    margin-left: 50%;
    transform: translate(-50%);
  }

  .home-info aside {
    width: 80%;
  }
}
