/*============= Google Fonts =============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&family=Roboto:wght@700;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

/*============= Nav =============*/

.nav-bg {
    min-height: 8vh;
    background-image: linear-gradient(360deg, rgb(17, 16, 16), rgb(233, 71, 12));
}

.logo {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
    transition: all .5s ease-in;
}

.logo:hover {
    color: rgb(192, 142, 124);
}

.logo span {
    font-size: 14px;
    margin-left: 20px;
    color: rgb(230, 218, 218);
}

ul {
    margin-left: auto!important;
}

.nav-link {
    margin-left: 50px;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    transition: all .4s ease-in;
}

.nav-link:hover {
    color: #1a1a1a;
}

/*============= Home =============*/

.home {
    min-height: 800px;
    background-image: url(../images/home.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home-info {
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home-info h1 {
    margin-top: 50px;
    width: 50%;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 1px;
}

.home-info h1 span {
    color: rgb(255, 81, 0);
    text-transform: uppercase;
}

.btn-book {
    color: #fff;
    background-color: rgb(238, 70, 9);
    padding: 10px 20px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin-left: 20%;
    margin-top: 20px;
}

.home-info aside {
    color: rgb(196, 187, 187);
    margin-left: 100%;
    transform: translate(-100%);
    width: 30%;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 15px;
}

/*============= About =============*/

.about {
    min-height: 800px;
    padding-top: 20px;
}

.about h3 {
    font-size: 33px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
}

.about p {
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 20px;
}

.rules {
    background-image: linear-gradient(90deg, black, rgb(41, 36, 36));
    opacity: .8;
    border-radius: 10px;
    height: 450px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rules h4 {
    font-size: 33px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #fff;
    margin-left: 25px;
}

.list-rules {
    color: #fff;
    list-style: none;
    margin-left: 20px;
}

.who-can-play {
    margin-top: 50px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(224, 224, 6, 0.877);
    border-radius: 10px;
}

.who-can-play p {
    font-size: 16px;
    letter-spacing: 1px;
}

/*============= Rooms =============*/

.rooms {
    min-width: 800px;
    padding-top: 20px;
    background-color: black;
}

.rooms h3 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 33px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
}

.card-rooms {
    height: auto;
}

.card-rooms h4 {
    text-align: center;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: rgb(177, 169, 169);
    margin: 20px 0 10px 0;
}

.card-rooms img {
    width: 400px;
    height: auto;
    border-radius: 12px;
    margin-left: 50%;
    transform: translate(-50%);
    margin-bottom: 20px;
}

.btn-learnmore {
    background-color: rgb(241, 72, 10);
    border-radius: 10px;
    padding: 10px 20px;
    margin-left: 50%;
    transform: translate(-50%);
    margin-bottom: 5px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all .6s ease-in-out;
    border: 1px solid rgb(241, 72, 10);
}

.btn-learnmore:hover {
    background-color: #fff;
    color: rgb(241, 72, 10);
}

.accordion-panel {
    background-color: #fff;
    border-radius: 15px;
    width: 400px;
    margin-left: 50%;
    margin-bottom: 10px;
    transform: translate(-50%);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}

.accordion-panel p {
    text-align: center;
    font-weight: 300;
    font-size: 15px;
}

/*============= Location =============*/

.location {
    min-height: 800px;
    padding-top: 20px;
}

.addresses {
    height: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.addresses h3 {
    font-size: 33px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.addresses p {
    cursor: pointer;
    font-weight: 700;
    font-size: 17px;
    transition: all .5s ease-out;
}

.addresses p:hover {
    color: rgb(241, 72, 10);
    text-decoration: underline;
}

#map {
    height: 400px;
    width: 100%;
    border-radius: 10px;
}